/* Take out the old codemirror styling */
.cm-comment {
  color: darkcyan !important;
}
.cm-variable, .cm-variable-2, .cm-keyword, .cm-s-default, .cm-def, .cm-atom {
  color: grey !important;
}

/* Now add in rainbows types */
.rb-type-bool {
  color: #CE63A1 !important;
}
.rb-type-string {
  color: red !important;
}
.rb-type-int {
  color: blue !important;
}
.rb-type-float {
  color: orange !important;
}
.rb-type-dict {
  color: purple !important;
}
.rb-type-list {
  color: green !important;
}

.rb-arg-type-bool {
  border-bottom: 0.2em solid #CE63A1 !important;
}
.rb-arg-type-string {
  border-bottom: 0.2em solid red !important;
}
.rb-arg-type-int {
  border-bottom: 0.2em solid blue !important;
}
.rb-arg-type-float {
  border-bottom: 0.2em solid orange !important;
}
.rb-arg-type-dict {
  border-bottom: 0.2em solid purple !important;
}
.rb-arg-type-list {
  border-bottom: 0.2em solid green !important;
}
