@font-face {
  font-family: GoodDog;
  src: url("../fonts/GoodDog-regular/GoodDog.otf") format("opentype");
}
button {
  background-color: #DAE5E8;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
#msg {
  min-width: 330px;
  text-align: center !important;
  font-size: 24px;
  text-align: left;
}
.playground-error-msg {
  background-color: yellow;
  color: #D60000;
  font-style: italic;
  text-decoration: underline;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#cur-token {
  text-decoration: underline;
}
#save-file {
  float: right;
}
.color-changer {
  margin-left: 10px;
  width: auto 200px;
  position: absolute;
}
body {
  /* background-color: lightblue; */
  background: #78CBFF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #78CBFF, #EBEBEB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #78CBFF, #EBEBEB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #78CBFF, #EBEBEB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #78CBFF, #EBEBEB); /* Standard syntax */
}
table {
  margin-left: auto;
  margin-right: auto;
}
body, h1, p, .dropbtn {
  text-align: center;
  font-family: GoodDog;
}
h1 {
  font-size: 400%;
}
h2 {
  font-style: italic;
  font-size: 300%;
}
p {
  font-size: 150%;
}
.CodeMirror {
  text-align: left;
  width: 50em;
  border: solid;
  border-color: lightgrey;
  background-color: #E0E9EC !important;
}
.CodeMirror-gutters {
  background-color: #DAE5E8 !important;
}
.code-box {
  height: auto;
  display: table;
  width: auto;
  display: inline-block;
}

/* Dropdown Button */
.dropbtn {
  padding: 6px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

#mytype {
  text-decoration: underline;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content div {
  border-top: solid;
  border-color: lightgrey;
  border-width: 1px;
  cursor: default;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
